<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duongngoc2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Duong Ngoc Food"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TimKiemActivity"></activity>
        <activity android:name=".activity.SuaMonAnActivity" />
        <activity
            android:name=".activity.TrangAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DatMonAnActivity" />
        <activity android:name=".activity.GioHangActivity" />
        <activity android:name=".activity.DangKiActivity" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ChiTietMonAn" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>